.imagenContadorDiv {
    top: 0;
    right: 0;
    margin: 0px 30px 0px 0px;
    height: 40px;
    z-index: 10000;
    border-radius: 5px;
    padding: 10px;
    transition: .3s ease-in-out;
    text-decoration: none;
}

.imagenContadorDiv:hover{
    background-color: #f6f6f6; 
}

.imagenContadorDiv p {
    margin: 0px 5px 0px 10px;
    bottom: 0;
    right: 0;
    z-index: 10000;
    color: rgb(0, 0, 0);
    font-size: 25px;
}

.imagenContador {
    width: 30px;
    height: 30px;
}
